/*
 * Resumx - Seattle Resume Stylesheet
 * Modern, minimal design.
 * https://github.com/ocmrz/resumx
 */

@import 'common/base.css';
@import 'common/icons.css';
@import 'common/utilities.css';
@import 'common/two-column.css';

:root {
	--font-family: 'Arial', 'Helvetica Neue', 'Segoe UI', sans-serif;
	--text-color: #2d3748;
	--section-border: 2px solid #b0b5be;
	--header-text-align: left;
	--bullet-style: circle;
}
