/*
 * Resumx - Formal Resume Stylesheet
 * https://github.com/ocmrz/resumx
 */

@import 'common/base.css';
@import 'common/icons.css';
@import 'common/utilities.css';

:root {
	--font-family:
		'Palatino Linotype', 'Palatino', 'Georgia', 'Times New Roman', serif;
	--accent-color: #c43218;
	--name-size: 2.25rem;
	--name-caps: small-caps;
	--section-title-size: 1.35rem;
	--section-header-color: var(--accent-color);
	--section-border: 1.5px solid var(--section-header-color);
}

.two-column-layout dl {
	display: block;
}

.two-column-layout dd {
	margin-left: 0;
}
